body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
}

h1 {
	font-size: 60pt;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-size: 42pt;
	font-weight: bold;
	color: #585858;
	text-transform: uppercase;
	
}

h3 {
	color: #585858;
}

p {
	color: #585858;
}

header {
	background-color: #f6f2f2;
	z-index: 10;
}

.container {
	margin: 0 auto;
	width: 80%;
}

.button {
	border: 3px solid #ff3f40;
	border-radius: 10px;
	font-size: 18.4pt;
	font-weight: 400;
	margin-top: 40px;
	padding: 21px 63px;
	color: #ff3f40;
	display: inline-block;
	transition-duration: 0.3s;
}

.button:hover {
	color: #fff;
	background-color: #ff3f40;
}
/* menu */

.menu {
	background-color: #313030;
	height: 89px;
	display: flex;
	justify-content: center;
	
}

.menu > ul {
	height: 100%;
	display: flex;
	align-items: stretch;
}

.menu > ul > li > a {
	display: inline-block;
	height: 100%;
	font-size: 14pt;
	font-weight: 560;
	color: #e0e0e0;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 40px;
	transition-duration: 0.3s;
}

.menu > ul > li:hover {
	background-color: #ff3f40;
}

/* main-board */

.main-board {
	background-color: #f6f2f2;
	height: 572px;
}

.main-board > .container {
	display: flex;
	justify-content: space-between;
}

.main-board__left-block {
	padding-top: 109px;
	width: 50%;
}


.main-board__button {
	background-color: #f6f2f2;
}

.main-board__button:hover {
	color: #f6f2f2;
}

.main-board img {
	margin-top: 109px;
	margin-right: -1px;
	height: 100%;
	box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
}

/* services */  
.services {
	height: 845px;
}

.services > .container {
	padding-top: 110px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.services > h2 {
	padding: 0;
}

.services__left-block {
	width: 50%;
}
.services__left-block p {
	margin-top: 52px;
}

.services__button {
	margin-top: 58px;
}

.services__items{
	width: 45%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 15px;
}

.services__items-item {
	width: 48%;
	
	
}

.services__items-item > i[class^="fa"]{
	font-size: 40px;
	color: #ff3f40;
	
	
}

.services__items-item > h3 {
	margin-top: 30px;
	margin-bottom: 22px;
	font-weight: 480;
}

.services__items-item > p {
	text-align: left;
	font-size: 15pt;
	font-weight: 350;
	margin-bottom: 40px;
	word-wrap: break-word;
}

.services > .container::after {
	content: "";
	background-color: #ececec;
	width: 100%;
	height: 2px;
	position: absolute;
	margin: 0 auto;
	top: 100%;
}

/* products */

.products {
	height: 1140px;
}

.products > .container {
	padding-top: 107px;
	position: relative;
	height: 100%;
}

.products__header {
	text-align: center;
	width: 41.8%;
	margin: 0 auto;
	position: relative;
}

.products__header > p {
	margin-top: 35px;
	margin-bottom: 33px;
}

.products__header::after {
	content: "";
	display: block;
	background-color: #ff3f40;
	height: 2px;
	width: 30%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.products__body {
	height: 70%;
}

.products__body > ul {
	display: flex;
	margin: 120px auto 66px;
	justify-content: space-between;
	width: 70%;
	
}

.products__body > ul > li {
	display: inline-block;
}

.products__body > .cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	height: 85.5%;
}

.products__body > .cards > img {
	max-height: 300PX;
}

.products__body label span{
	color: #585858;
	text-transform: uppercase;
	font-weight: 560;
	transition-duration: 0.3s;
}

.products__body label input{
	display: none;
}

.products__body label input:checked + span {
	color: #ff3f40;
}

/* team */
.team {
	margin-bottom: 108px;
}
.team > .container {
	padding-top: 140px;
}

.team__header {
	width: 45%;
}

.team__header > p {
	margin-top: 35px;
	margin-left: 18px;
	position: relative;
}

.team__header > p::after {
	content: "";
	display: block;
	background-color: #ff3f40;
	height: 2px;
	width: 30%;
	position: absolute;
	left: 0;
	margin-top: 33px;
}

.team__body{
	margin-top: 109px;
	display: flex;
	justify-content: space-between;
}

.selected-member {
	width: 30%;
	width: 322px;
	height: 465px;
}

.member-info-and-others{
	width: 70%;
}

.team h3 {
	text-transform: uppercase;
	font-size: 30pt;
	font-weight: 560;

}

.member-info-and-others p {
	margin-top: 38px;
	margin-bottom: 49px;
}

.social > li{
	display: inline-block;
	font-size: 18pt;
	font-style: italic;
	margin-right: 33px;
	margin-bottom: 50px;
	
}

.social a {
	color: #585858;
}

.other-members {
	overflow: hidden;
}

.other-members > ul{
	display: flex;
	justify-content: space-between;
}

.other-members img {
	width: 190px;
	height: 184px;
	
}

.other-members a{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	
	position: relative;
}

.other-members a::after {
	content: "Sokina Jue";
	padding-top: 5px;
	background-color: #585858;
	width: 100%;
	height: 40px;
	display: block;
	position: absolute;
	top: 144px;
	transform: translateY(40px);
	transition-duration: 0.3s;
	
}

.other-members li:hover a::after{
	transform: none;
	
}

/* subscription */

.subscription {
	position: relative;
	
}

.subscription::before {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	background-image: url(../img/subscription.jpg);
	filter: grayscale(100%);
	z-index: -1;
}

.subscription > .container {
	width: 80%;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 140px;
}

.subscription h2 {
	font-size: 40pt;
	text-transform: none;
	color: #fdfcf8;
	font-weight: 550;
}

.subscription p {
	margin-top: 45px;
	color: #fdfcf8;
	font-size: 13pt;
}

.subscription form {
	margin-top: 65px;
}

.subscription input {
	background: #fff;
	color: #585858;
	width: 520px;
	height: 80px;
	border-radius: 10px;
	margin-right: 22px;
	padding: 21px 40px;
}

/* feedback-form */

.feedback-form {
	padding-bottom: 110px;
}

.feedback-form > .container {
	padding-top: 108px;
	padding-left: 18px;
	padding-bottom: 110px;
}

.feedback-form > .container-big {
	margin-top: 0;
	background: linear-gradient(to right, #fff 65%, #2d2d2d 40%);
	
}

.feedback-form > .container-big > .container {
	padding-left: 18px;
}

.feedback-form__header {
	width: 60%;
	
}

.feedback-form__header > h2 {
	margin-bottom: 50px;
}

.feedback-form__header > p {
	position: relative;
}

.feedback-form__header > p::after {
	content: "";
	display: block;
	background-color: #ff3f40;
	height: 2px;
	width: 20%;
	position: absolute;
	left: 0;
	margin-top: 33px;
}

.feedback-form__body{
	
	display: flex;
	justify-content: space-between;
	
}

.feedback-form__body > form {
	width: 60%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}

.feedback-form__body input{
	width: 45%;
	height: 80px;
	background-color: #e5e5e5;
	border-radius: 10px;
	padding-left: 20px;
}

.feedback-form__body input:focus{
	border: 2px solid #2d2d2d;
}

.feedback-form__body textarea{
	background-color: #e5e5e5;
	border-radius: 10px;
	width: 100%;
	height: 250px;
	padding-left: 20px;
	padding-top: 20px;
	resize: none;
}

.feedback-form__body .button  {
	width: 100%;
	color: #fff;
	background-color: #ff3f40;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: 600;
}

.contact-info {
	background-color: #2d2d2d;
	color: #e0e0e0;
	padding-top: 142px;
	padding-bottom: 142px;
	padding-left: 78px;
	width: 30%;
}

.contact-info > h3 {
	color: #e0e0e0;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 40px;
}

address div {
	font-style: normal;
	margin-bottom: 30px;
	font-weight: 350;
}

/* footer */ 

footer {
	background-color: #313030;
}

footer > .container {
	display: flex;
	width: 75%;
	justify-content: space-between;
	align-items: center;
	height: 110px;
}

footer > .container > p {
	width: 50%;
}

.socials {
	width: 15%;
}

.socials > ul {
	display: flex;
	justify-content: space-between;
}

.socials > ul > li {
	text-align: center;
	padding-top: 3px;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;
}

.socials > ul > li > a {
	color: #313030;
}
